code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

body {
  padding: 50px;
  background-color: #2e3131;
  font-family: sans-serif;  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#container {
  display: flex;
  justify-content: center;
  flex-direction: column-reverse;
}

.todoListMain .header {
  font-style: bold;
  color: #ff9478;
}

.todoListMain input {
  padding: 10px;
  font-size: 16px;
  border: 2px solid #FFF;
  width: 165px;
}

.todoListMain button {
  padding: 10px;
  font-size: 16px;
  margin: 10px;
  margin-right: 0px;
  background-color: #0066FF;
  color: #FFF;
  border: 2px solid #0066FF;
}

.todoListMain button:hover {
  background-color: #003399;
  border: 2px solid #003399;
  cursor: pointer;
}

.todoListMain .theList {
  list-style: none;
  color: red;
  padding-left: 0;
  width: 250px;
}

.todoListMain .theList li {
  color: #333;
  background-color: rgba(255, 255, 255, .5);
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 5px;
  list-style: none;
}

ul.theList {
  padding: 0;
  list-style: none;
  display: inline-flex;
  justify-content: center;
  flex-direction: column-reverse;
}

.theList .itemList {
  display: flex;
  width: 600px;
}

.theList .itemList li {
  float: left;
  color: #333;
  background-color: rgba(255, 255, 255, .5);
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 5px;
  margin-right: 20px;
  transition: background-color .2s ease-out;
  width: 90%;text-overflow: ellipsis;
}

.theList .itemList button {
  float: left;
  background-color: #96281b;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 5px;
  transition: background-color .2s ease-out;
  width: 10%;
}

.todoListMain .theList li:hover {
  background-color: pink;
  cursor: pointer;
}
